.background {
    min-height: 100vh;
    overflow: auto;
    position: relative;
    width: 100vw;
    display: block;
    background-color: black;
}

.leftSplit {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    position: relative;
    width: 100vw;
}

.wrapper {
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 580px;
    position: absolute;
    top: 0;
}

.authBox {
    background-color: #393a42;
    color: oklab(0.999994 0.0000455678 0.0000200868);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 32px;
    width: 100%;
    max-width: 480px;
}

.splashImage {
    position: absolute;
    width: 100%;
    height: 100%;
    inset-inline-start: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: opacity .2s linear .2s;
    text-indent: -9999px;
    display: block;
    object-fit: cover;
    object-position: center;

    &.loaded {
        opacity: 1;
    }
}

.iconImage {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 64px;
    height: 64px;
    border-radius: 16px;
}
